{% extends '::base.html.twig' %}

{% block body %}

    <ul>

    {% for soiree in soirees %}

        <li>Nom : {{ soiree.nom }}</li>
        <li>Description : {{ soiree.description }}</li>
        <li>Type : {{ soiree.type }}</li>
        <li>Nombre de place : {{ soiree.nbPlace }}</li>
        <li>Date : {{ soiree.dateDebut|date('Y-m-d H:i') }}</li>
        {% if soiree.prix is defined %}
            <li>Prix : {{ soiree.prix }}</li>
        {% endif %}
        <li>
            <a href="{{ path('wild_party_inscription',{ 'id_soiree': soiree.idSoiree }) }}" class="btn btn-primary">
                {% if soiree.inscrit == true %}
                    Se désinscrire
                {% else %}
                    S'inscrire
                {% endif %}
            </a>
        </li>
        <br/>
    {% endfor %}
    </ul>
{% endblock %}