{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/wildparty/css/tablesaw.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/wildparty/css/style.css') }}">

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/wildparty/js/tablesaw.js') }}"></script>
    <script src="{{ asset('bundles/wildparty/js/tablesaw-init.js') }}"></script>
    <script>
        var i;
        function alternate(id){

            if(document.getElementsByTagName){

                var table = document.getElementById(id);

                var rows = table.getElementsByTagName("tr");

                for(i = 0; i < rows.length; i++){

                    //manipulate rows

                    if(i % 2 == 0){

                        rows[i].className = "even";

                    }else{

                        rows[i].className = "odd";

                    }

                }

            }

        }

    </script>
{% endblock %}

{% block body %}

    {% if old == false %}
        <div class="nav-soiree"><a href="{{ path('soiree_new') }}" class="btn btn-info">Proposer une soirée</a></div>
        <div class="nav-soiree"><a href="{{ path('wild_party_old_soiree') }}" class="btn btn-info">Anciennes soirées</a></div>
    {% else %}
        <div class="nav-soiree"><a href="{{ path('wild_party_homepage') }}" class="btn btn-info">Nouvelles soirées</a></div>
    {% endif %}
       <div class="nav-soiree"> <a href="{{ path('wild_party_my_soirees') }}" class="btn btn-info">Mes soirées</a></div>

    <body onload="alternate('thetable')">
    <table class="tablesaw table table-striped" data-tablesaw-sortable data-tablesaw-sortable-switch id='thetable'>
        <thead>
            <tr>
                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Nom</th>
                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Description</th>
                <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-sortable-numeric data-tablesaw-priority="3">Date</th>
                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Type soirée</th>
                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Initiateur</th>
                <th scope="col" data-tablesaw-sortable-col data-sortable-numeric data-tablesaw-priority="4">Nombre de places</th>
                <th scope="col" data-tablesaw-sortable-col data-sortable-numeric data-tablesaw-priority="4">Nombre de personnes</th>
                <th scope="col" data-tablesaw-sortable-col data-sortable-numeric data-tablesaw-priority="4">Prix</th>
                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Actions</th>
            </tr>
        </thead>
        <tbody>

                {% for soiree in soirees %}
                <tr>
                    <td class="title">{{ soiree.nom }}</td>
                    <td>{{ soiree.description }}</td>
                    <td class="date">{{ soiree.dateDebut|date('Y-m-d H:i') }}</td>
                    <td>{{ soiree.type }}</td>
                    <td>{{ soiree.user.username }}</td>
                    <td>{{ soiree.nbPlace }}</td>
                    <td>{{ soiree.nbPersonnes }}</td>
                    <td>
                        {% if soiree.prix is not null %}
                            {{ soiree.prix }}
                        {% else %}
                            Non défini
                        {% endif %}
                    </td>
                    <td>
                        {% if soiree.nbPlace > 0 %}
                            <a href="{{ path('wild_party_inscription',{ 'id_soiree': soiree.idSoiree }) }}" class="btn btn-primary">
                                {% if soiree.inscrit == true %}
                                    Se désinscrire
                                {% else %}
                                    S'inscrire
                                {% endif %}
                            </a>
                        {% elseif soiree.nbPlace == -1 %}
                            <a href="{{ path('wild_party_inscription',{ 'id_soiree': soiree.idSoiree }) }}" class="btn btn-primary">
                                {% if soiree.inscrit == true %}
                                    Se désinscrire
                                {% else %}
                                    S'inscrire
                                {% endif %}
                            </a>
                        {% else %}
                            <button type="button" disabled class="btn btn-primary">Complet</button>
                        {% endif %}

                        {% if soiree.user == app.user %}
                            <a href="{{ path('soiree_edit',{ 'id': soiree.idSoiree }) }}" class="btn btn-primary">
                                Editer
                            </a>
                        {% endif %}
                    </td>

                </tr>

                {% endfor %}

        </tbody>
    </table>

</body>
{#    <ul>

        {% for soiree in soirees %}

            <li>Nom : {{ soiree.nom }}</li>
            <li>Description : {{ soiree.description }}</li>
            <li>Type : {{ soiree.type }}</li>
            {% if soiree.user.username is defined %}
                <li>Initiateur : {{ soiree.user.username }}</li>
            {% endif %}
            <li>
                Nombre de place :
                {% if soiree.nbPlace == -1 %}
                    Illimité
                {% else %}
                    {{ soiree.nbPlace }}
                {% endif %}
            </li>

            <li>Nombre de personnes : {{ soiree.nbPersonnes }}</li>
            <li>Date : {{ soiree.dateDebut|date('Y-m-d H:i') }}</li>

            {% if soiree.prix is not null %}
                <li>Prix : {{ soiree.prix }}</li>
            {% endif %}

            <li>
                {% if soiree.nbPlace > 0 %}
                    <a href="{{ path('wild_party_inscription',{ 'id_soiree': soiree.idSoiree }) }}" class="btn btn-primary">
                        {% if soiree.inscrit == true %}
                            Se désinscrire
                        {% else %}
                            S'inscrire
                        {% endif %}
                    </a>
                {% elseif soiree.nbPlace == -1 %}
                    <a href="{{ path('wild_party_inscription',{ 'id_soiree': soiree.idSoiree }) }}" class="btn btn-primary">
                        {% if soiree.inscrit == true %}
                            Se désinscrire
                        {% else %}
                            S'inscrire
                        {% endif %}
                    </a>
                {% else %}
                    <button type="button" disabled class="btn btn-primary">Complet</button>
                {% endif %}
            </li>

            {% if soiree.user == app.user %}
                <li>
                    <a href="{{ path('soiree_edit',{ 'id': soiree.idSoiree }) }}" class="btn btn-primary">
                        Editer
                    </a>
                </li>
            {% endif %}
            <br/>
        {% endfor %}
    </ul>#}
{% endblock %}