{% extends '::base.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}

    <ul>

        {% for soiree in soirees %}

            <li>Nom : {{ soiree.nom }}</li>
            <li>Description : {{ soiree.description }}</li>
            <li>Type : {{ soiree.type }}</li>
            {% if soiree.user.username is defined %}
                <li>Initiateur : {{ soiree.user.username }}</li>
            {% endif %}
            <li>
                Nombre de place :
                {% if soiree.nbPlace == -1 %}
                    Illimité
                {% else %}
                    {{ soiree.nbPlace }}
                {% endif %}
            </li>

            <li>Nombre de personnes : {{ soiree.nbPersonnes }}</li>
            <li>Date : {{ soiree.dateDebut|date('Y-m-d H:i') }}</li>

            {% if soiree.prix is not null %}
                <li>Prix : {{ soiree.prix }}</li>
            {% endif %}

            <li>
                {% if soiree.nbPlace > 0 %}
                    <a href="{{ path('wild_party_inscription',{ 'id_soiree': soiree.idSoiree }) }}" class="btn btn-primary">
                        {% if soiree.inscrit == true %}
                            Se désinscrire
                        {% else %}
                            S'inscrire
                        {% endif %}
                    </a>
                {% elseif soiree.nbPlace == -1 %}
                    <a href="{{ path('wild_party_inscription',{ 'id_soiree': soiree.idSoiree }) }}" class="btn btn-primary">
                        {% if soiree.inscrit == true %}
                            Se désinscrire
                        {% else %}
                            S'inscrire
                        {% endif %}
                    </a>
                {% else %}
                    <button type="button" disabled class="btn btn-primary">Complet</button>
                {% endif %}
            </li>

            {% if soiree.user == app.user %}
                <li>
                    <a href="{{ path('soiree_edit',{ 'id': soiree.idSoiree }) }}" class="btn btn-primary">
                        Editer
                    </a>
                </li>
            {% endif %}
            <br/>
        {% endfor %}
    </ul>
    {% if old == false %}
        <a href="{{ path('soiree_new') }}" class="btn btn-danger">Proposer une soirée</a>
        <a href="{{ path('wild_party_old_soiree') }}" class="btn btn-danger">Anciennes soirées</a>
    {% else %}
        <a href="{{ path('wild_party_homepage') }}" class="btn btn-danger">Nouvelles soirées</a>
    {% endif %}
{% endblock %}